.hero {
  background-color:black;
  background-position: top center;
  height: 100vh;

  .container,
  .row {
    height: 100%;
  }

  h2 {
    color: white;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  p {
    color: white;
  }
}
